.App {
   min-height: 100vh;
   width: 100%;
}
.lightmode {
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  background-color: #ebebeb; /* ebebeb */
  visibility: visible;
}

.darkmode {
  width: 10px;
  height: 10px;
  right: -20px;
  background-color: #f5f5f5;
  top: -10px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transition: var(--transition);
  visibility: hidden;
}
.dark .App {
  color: white;
}
.dark .darkmode {
  width: 100% !important;
  height: 100% !important;
  right: 0px !important;
  top: 0px !important;
  border-radius: 0% !important;
  background-color: rgb(30, 32, 33);
  visibility: visible;
  z-index: -1;
}
.dark .lightmode {
  visibility: hidden;
}